.chatMainContainer {
    overflow: hidden;
    color: white;
    background-color: gray;
    height: 100vh;

    .head {
        background-color: gray;
        padding: 1rem;
        color: white;
        border-radius: 5px;
    }

    .chatMain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 10rem;

    }

    .message {
        background-color: rgb(74, 73, 73);
        padding: 1rem 0.5rem;
        border-radius: 10px;
    }

    .chat {
        padding: 1rem 0.5rem;

    }

    .chatAll {
        height: 74vh;
        overflow-y: auto;
    }

    .input {
        padding: 1rem;
    }

    .headd {
        padding: 0.5rem 0;
    }

    .response {
        padding: 0.5rem 0;
    }

    .enterData {
        cursor: pointer;
        font-size: 20px;
    }
}